<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<link href="/CSS/style.css" rel="stylesheet" type="text/css" >
	</head>
	<body>
		<form method="post">
			<table border="0" width="100%">
				<tr height="15%" bgcolor="#23274C">
					<td width="20%"></td>
					<td valign="top"> <h2> <b> <font color="#CACBD5">Hospital </font><font color="white">Management System</font> </b> </h2>
						<td width="30%" valign="top" align="right">
                             <br/><br/>
                             <font color="white">Welcome, <%= user.name %> </font> <br>   <a href="/logout"><font color="red" >logout</font></a><br/>
						</td>
					</td>
					<td width="20%"></td>
				</tr>
			</table>
			<table border="0" width="100%">
				<tr height="7" bgcolor="#616174">
					<td width="20%"></td>
					<td width="40" height="40">
						<ul id="ul">
                            <li id="q">
                                <div class="navbar">
                                        <a href="/admin">Home</a>     
                                    <div class="dropdown">
                                        <button class="dropbtn">Profile
                                        <i class="fa fa-caret-down"></i>
                                        </button>
                                        <div class="dropdown-content">
										<a href="/admin/profile">My profile</a>
                                        <a href="/admin/changePassword/<%= user.id %>">Change Password</a>
                                    </div>
									</div> 
									<div class="dropdown">
										<button class="dropbtn">Doctor
										<i class="fa fa-caret-down"></i>
										</button>
										<div class="dropdown-content">
										<a href="/admin/addDoctor">Add Doctor</a>
										<a href="/admin/doctorList">Doctor List</a>
									</div>
									</div>
                                    <div class="dropdown">
                                        <button class="dropbtn">Staff
                                        <i class="fa fa-caret-down"></i>
                                        </button>
                                        <div class="dropdown-content">
                                        <a href="/admin/addStaff">Add Staff</a>
                                        <a href="/admin/staffList">Staff List</a>
                                        </div>
									</div>
									<div class="dropdown">
										<button class="dropbtn">Photo gallery
										<i class="fa fa-caret-down"></i>
										</button>
										<div class="dropdown-content">
										<a href="/admin/addPhotegallery">Add Photo gallery</a>
										<a href="/admin/photoGallaryList">Photo gallery List</a>
										</div>
									</div>
                                    <a href="/admin/allUser">User List</a>
                                </div>
                            </li>
                        </ul>
                        
					</td>
					<td width="20%"></td>
				</tr>
			</table>
			<table border="0" width="100%">
				<td width="20%"></td>
				<td>
					<table border="0" width="100%">
                        <br>
							<% for(var i=0; i < photo.length; i++){ %>

								<div class="left-part">
									<a target="_blank" href="/admin/photoDescription/<%= photo[i].id %>">
										<img src="<%= photo[i].pic %>" width="800" height="600">
									</a>
									<div class="desc"><font color="#007D9E"><%= photo[i].title %></font></div>
								</div>

							<% } %>


					</table>
				</td>
				<td width="20%"></td>
			</table>
			<footer>
			<table border="0" width="100%">
				<tr>
					<td width="20%"></td>
					<td>
						
						&copy; Copyright 2019 Hospital Management System

					</td>
					<td width="20%"></td>
				</tr>
			</table>
			</footer>
		</form>
	</body>
</html>