<!DOCTYPE html>
<html>
	<head>
		<title>Manage doctor profile</title>
		<link href="/CSS/style.css" rel="stylesheet" type="text/css" >
	</head>
	<body>
		<form method="post">
			<table border="0" width="100%">
				<tr height="15%" bgcolor="#23274C">
					<td width="20%"></td>
					<td valign="top"> <h2> <b> <font color="#CACBD5">Hospital </font><font color="white">Management System</font> </b> </h2>
						<td width="30%" valign="top" align="right">
                             <br/><br/><br>
                             <a href="/logout"><font color="red" >logout</font></a><br/>
						</td>
					</td>
					<td width="20%"></td>
				</tr>
			</table>
			<table border="0" width="100%">
				<tr height="7" bgcolor="#616174">
					<td width="20%"></td>
					<td width="40" height="40">
						<ul id="ul">
                            <li id="q">
                                <div class="navbar">
                                        <a href="/admin">Home</a>     
                                    <div class="dropdown">
                                        <button class="dropbtn">Profile
                                        <i class="fa fa-caret-down"></i>
                                        </button>
                                        <div class="dropdown-content">
                                        <a href="/admin/profile">My profile</a>
                                    </div>
                                    </div> 
                                    <div class="dropdown">
                                        <button class="dropbtn">Doctor
                                        <i class="fa fa-caret-down"></i>
                                        </button>
                                        <div class="dropdown-content">
                                        <a href="/admin/addDoctor">Add Doctor</a>
                                        <a href="/admin/doctorList">Doctor List</a>
                                    </div>
                                    </div>
                                    <div class="dropdown">
                                        <button class="dropbtn">Staff
                                        <i class="fa fa-caret-down"></i>
                                        </button>
                                        <div class="dropdown-content">
                                        <a href="/admin/addStaff">Add Staff</a>
                                        <a href="/admin/staffList">Staff List</a>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <button class="dropbtn">Photo gallery
                                        <i class="fa fa-caret-down"></i>
                                        </button>
                                        <div class="dropdown-content">
                                        <a href="/admin/addPhotegallery">Add Photo gallery</a>
                                        <a href="/admin/photoGallaryList">Photo gallery List</a>
                                        </div>
                                    </div>
                                    <a href="/admin/allUser">User List</a>
                                </div>
                            </li>
                        </ul>
                        
					</td>
					<td width="20%"></td>
				</tr>
			</table>
			<table border="0" width="100%">
				<td width="20%"></td>
				<td>
                        
					<table border="0" width="100%">
                        <br>
                        <tr>
                            <td></td>
                            <td><img src="<%= user.pic %>" height="200" width="200"></td>
                        </tr>
                        <tr>
                            <td align="right">Name:</td>
                            <td><input type="text" class="a" name="name" value="<%= user.firstname %> <%= user.lastname %>" readonly/> </td>
                        </tr>
                        <tr>
                            <td align="right">DOB:</td>
                            <td><input type="text" class="a" name="dob" value="<%= user.dob %>" readonly /> </td>
                        </tr>
                        <tr>
                            <td align="right">Gender:</td>
                            <td><input type="text" class="a" name="gender" value="<%= user.gender %>" readonly  /></td>
                        </tr>
                        <tr>
                            <td align="right">Phone no:</td>
                            <td><input type="text" class="a" name="phnNo" value="<%= user.phone %>" readonly  />
                            </td>
                        </tr>
                        <tr>
                            <td align="right">Email:</td>
                            <td><input type="text" name="email" class="a" id="email" value="<%= user.email %>" readonly  ></td>
							 
                        </tr>
                        <tr>
                            <td align="right">Department:</td>
                            <td><input type="text" name="email" class="a" id="email" value="<%= user.department %>" readonly ></td>
                        </tr>
                        <tr>
                            <td align="right">Salary:</td>
                            <td><input type="text" name="salary" placeholder="Please enter Salary" class="a" value="<%= user.salary %>" /> </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" name="update" value="Update" class="btn" />  </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" name="delete" value="Delete" class="btn" />  </td>
                        </tr>
                        
					</table>
				</td>
				<td width="20%"></td>
			</table><br><br><br><br><br><br>
            <footer>
                <table border="0" width="100%">
                    <tr>
                        <td width="20%"></td>
                        <td>
                            
                            &copy; Copyright 2019 Hospital Management System
    
                        </td>
                        <td width="20%"></td>
                    </tr>
                </table>
            </footer>
		</form>
	</body>
</html>