<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<link href="/CSS/style.css" rel="stylesheet" type="text/css" >
	</head>
	<body>
		<form method="post">
			<table border="0" width="100%">
				<tr height="15%" bgcolor="#23274C">
					<td width="20%"></td>
					<td valign="top"> <h2> <b> <font color="#CACBD5">Hospital </font><font color="white">Management System</font> </b> </h2>
						<td width="30%" valign="top" align="right">
							 <br/><br/><br/>
							 <a href="/logout"><font color="red">logout</font></a><br/>
						</td>
					</td>
					<td width="20%"></td>
				</tr>
			</table>
			<table border="0" width="100%">
				<tr height="7" bgcolor="#616174">
					<td width="20%"></td>
					<td width="40" height="40">
						<ul id="ul">
                            <li id="q">
                                <div class="navbar">
									<a href="/staff">Home</a>
									<div class="dropdown">
										<button class="dropbtn">My profile
											<i class="fa fa-caret-down"></i>
										</button>
										<div class="dropdown-content">
											<a href="/staff/viewProfile">View Profile</a>
											<a href="/staff/updateProfile">Update Profile</a>
											<a href="/staff/deleteprofile">Delete profile</a>
											<a href="/staff/viewSchedule">View Schedule</a>
										</div>
									</div>
									<div class="dropdown">
                                        <button class="dropbtn">Doctor
                                        <i class="fa fa-caret-down"></i>
                                        </button>
                                        <div class="dropdown-content">
                                        <a href="/staff/doctorSchedule">View Doctor Schedule</a>
                                        <a href="/staff/doctorList">View Doctor List</a>
                                    </div>
                                </div>
                            </li>
                        </ul> 
					</td>
					<td width="20%"></td>
				</tr>
			</table>

			<table border="0" width="100%">
				<td width="20%"></td>
				<td>
					<table border="0" width="100%">
                        <table border="1" width="75%">
                            <tr id='border'>
                                <td id='border'><h3>Profile Picture</h3></td>
                                <td id='border'><h3>Dr Name</h3></td>
                                <td id='border'><h3>Date of birth</h3></td>
                                <td id='border'><h3>Gender</h3></td>
                                <td id='border'><h3>Email</h3></td>
                                <td id='border'><h3>Cell</h3></td>
                                <td id='border'><h3>Department</h3></td>
                                <td id='border'><h3>Salary</h3></td>
                                <td id='border'><h3>Action</h3></td>
                            </tr>
                        
                            <% for(var i=0; i < users.length; i++){ %>
                        
                                <tr id='border'>
                                    <td id='border'>
                                        <img src="<%= users[i].pic %>" height="42" width="42">
                                    </td>
                                    <td id='border'><%= users[i].firstname %> <%= users[i].lastname %></td>
                                    <td id='border'><%= users[i].dob %></td>
                                    <td id='border'><%= users[i].gender %></td>
                                    <td id='border'><%= users[i].email %></td>
                                    <td id='border'><%= users[i].phone %></td>
                                    <td id='border'><%= users[i].department %></td>
                                    <td id='border'><%= users[i].salary %></td>
                                    <td id='border'>
                                        <a href="/user/delete/<%= users[i].uid %>">Delete</a>
                                    </td>
                                </tr>
                            <% } %>
                        </table>
					</table>
				</td>
				<td width="20%"></td>
			</table>
			<hr size="3" color="black"/>
			<table border="0" width="100%">
				<tr>
					<td width="20%"></td>
					<td width="35%">
						<h2> <b> About </b> </h2>
						<!--<ul type="circle">
							<li> <a href="app/others/about.php"><font color="#de312d">About OpenCourseWare </font> </a> </li>
							<li> <a href="app/others/help.php"><font color="#de312d">Help & FAQs </font> </a> </li>
							<li> <a href="app/others/contact.php"><font color="#de312d">Contact Us </font> </a> </li>
							<li> <a href="app/others/privacy.php"><font color="#de312d">Privacy & Terms of Use </font> </a> </li>
						</ul>-->
						<vr>
					</td>
					<td width="25%" valign="top">
					</td>
					<td width="20%"></td>
				</tr>
				<tr>
					<td width="20%"></td>
					<td colspan="2">
						<hr>
					</td>
					<td width="20%"></td>
				</tr>
			</table>
		</form>
	</body>
</html>